.content{
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;  
       
        > div {
            width: 100%;
            display: flex;
            justify-content: space-between;

        }
        input[type="text"], input[type="password"]{ margin-bottom: 20px; }

        .fullname{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >div:nth-child(1){
                width: 100%;
            }
            >div:nth-child(2){
                width: 100%;
            }
        }
        .radios{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            margin-bottom: 20px;
            width: 100%;
            input{
                width: 24px;
                height: 24px;
                margin-right: 12px;
            }
            label:nth-child(1), label:nth-child(2), label:nth-child(3), label:nth-child(4){
                width: 30%;
                margin-bottom: 24px;
                margin-top: 12px;
                
            }
        }
        .address{
            > div:nth-child(2){
                margin: 0px 16px
            }
        }
        .postal{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >div:nth-child(1){ width: 100%; }
            >div:nth-child(2){ width: 100%; }
        }
        .checkboxWrapper{
            display: flex;
            flex-direction: column;
            .checkbox{
                display: flex;
                justify-content: flex-start;
                margin-bottom:24px;

                label {
                    margin-bottom: 0px;
                    margin-left: 18px;
                }
            }
            .button{
                align-self: flex-start;
            }
        }
        .button{
            cursor: pointer;
        }
        .errorText{
            color: var(--red)
        }
    }
}
 
 /* Large devices (laptops/desktops, 768px and up) */
 @media only screen and (min-width: 768px) {

    .content{
        form{
            max-width: 544px;
            .fullname{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                >div:nth-child(1){
                    width: 264px;
                }
                >div:nth-child(2){
                    width: 264px;
                }
            }
            .postal{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                >div:nth-child(1){ width: 176px; }
                >div:nth-child(2){ width: 352px; }
            }
            .radios{
                label:nth-child(1), label:nth-child(2), label:nth-child(3){
                    width:20%;
                    margin-bottom: 24px;
                }
            }
        }
    }
}
 