.content {
  display: flex;
  flex-direction: column;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: start;

    margin: 0;
    max-height: 65px;
    
    border-bottom: 1px solid var(--gray);

    .logo {
      min-width: 140px;
      width: auto;
      max-height: 100%;
  
      align-self: center;
      padding-right: 3rem;
    }

    .menuItems {
      display: flex;
      justify-content: flex-start;
    }

    .menuActions {
      display: flex;
      align-self: flex-end;
      margin-left: auto;
      //login button can be always green since a popup appear above it.
      //also for my-profile page when popup is not supposed to appear the icon can remain green
      ul > li:last-child > div > button { color: var(--green); }
    }
  }
  .actionContent {
    min-height: 6rem;
    div { width: 100%; }
  }
}
/*
.container {
  overflow: initial !important;
  border-bottom: 1px solid var(--gray);
}
*/