
.account{
    display: flex;
    flex-direction: column;
    input{ 
        margin-bottom: 20px; 
        margin-top: 8px;
    }
    
    span{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 132.5%;
        color: var(--green);
        margin-bottom: 22px;
    }
    img{
        height: 18px;
        width: 18px;
        margin-left: 11px;
    }
}