.menuwrapper {
  display: flex;
  max-width: 1120px;
  margin: auto;

  .likeButton {
    border-bottom: 0px solid var(--ice);
    width: 100%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    height: 64px;
    padding-top: 1rem;

    padding-left: 180px;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      margin-right: 20px;
      .button {
        margin-block-start: 0;
        margin-block-end: 0;
        color: var(--lightgray3);
      }
      .active {
        color: var(--gray2);
        font-weight: bold;
        padding-bottom: 0px;
        border-bottom: 4px solid var(--green);
      }
    }
  }
  > div:nth-child(2) {
    width: 35rem;
    border-bottom: 0px solid var(--ice);
    margin-right: 12px;
  }
}
hr {
  margin-top: -0.055rem;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .menuwrapper {
    max-width: unset;
    margin: unset;

    display: flex;
    flex-direction: column;
    .menu {
      padding-left: 0px;
      margin-top: 1rem;
    }
    > div:nth-child(2) {
      width: 100%;
      border-bottom: 1px solid var(--ice);
      margin-right: 0px;
    }
  }
  hr {
    display: none;
  }
}

.social {
  display: flex;
  justify-content: space-between;
}
